<div class="container">

  <div class="" style="text-align: center; margin-bottom: 30px;">
    <h5 class="font-weight-bold">本当に退会しますか？</h5>
  </div>

  <div class="text-message font-weight-bold" style="text-align: center; margin-bottom: 0;">
    <p>退会すると、会員登録情報の閲覧や</p>
    <p>ブックマーク機能、コメント機能が使用できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
  </div>

  <div class="row">
    <div class="col-6" style="text-align: right;">
      <%= link_to "退会しない", customers_my_page_path, class: "btn btn-primary btn-sm" %>
    </div>
    <div class="col-6">
      <%= link_to "退会する", customers_reject_customer_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger btn-sm" %>
    </div>
  </div>

</div>
