<h1 class="headline" style="border-bottom: 3px solid black; padding-bottom: 5px; margin-bottom: 30px;">
   All Lists
</h1>

<% unless customer_signed_in? %>
  <small>
    ※各記事の詳細を見る場合は
    <%= link_to new_customer_session_path do %>
      ログイン
    <% end %>
    してください。
  </small>
<% end %>

<%= render 'public/shared/all_lists', stock_posts: @stock_posts %>
