<h1 style="margin: 50px auto 50px;"><strong>PREPPERS</strong>の説明</h1>

<h2 style="margin-bottom: 50px; border-bottom: 2px solid black;">
  初めての方へ
</h2>

<div style="margin-left: 15px;">
  <div class="about-message">
    <h3><strong>PREPPER</strong>とは</h3>
    <div>
      <p><strong>PREPPER</strong>とは、何らかの原因で食料や生活必需品が</p>
      <p>手に入らなくなることを想定して、</p>
      <p>備えていく人たちのことです。</p>
    </div>
  </div>

  <div class="about-message">
    <h3>サイトの説明</h3>
    <div>
      <p>備蓄する人たちの情報発信の場です！</p>
      <p>是非自分の備蓄に関する状況や知識を投稿してください！</p>
      <p>簡単にこのサイトを説明すると、PREPPERのブログコミュニティです。</p>
      <p>１つ１つの投稿にコメントをすることができます。</p>
      <p>記事投稿者に備蓄のノウハウを聞いてみるのも良いかもしれません。</p>
      <p>自分の備蓄状況を公開して、アドバイスをもらうのもいいですね！</p>
    </div>
  </div>

  <div class="about-message">
    <h3>サイトの使い方</h3>
    <div>
      <p>自分がどんな備蓄をしているのか、備蓄の方法や備蓄内容、その他、備蓄に</p>
      <p>関することならなんでも発信してくれたらうれしいです。</p>
      <p></p>
    </div>
  </div>

  <div class="about-message">
    <h3>サイトのルール</h3>
    <div>
      <p>備蓄（災害関係、社会恐慌関係、サバイバル関係でもOK）に関すること以外の投稿の禁止</p>
      <p>誹謗中傷を目的としたコメントや投稿の禁止</p>
      <p>みんななかよく使いましょう！</p>
      <p>※違反者はアカウントの凍結、削除の可能性があります。</p>
      <p>※不適切なコメントは発見次第削除されます。</p>
    </div>
  </div>
</div>

