<div class="container">
  <h1>Prepper's Rules</h1>
  <hr>

  <h2>Rule 1: 備蓄は多様性を意識する</h2>
  <p>災害に備えるためには、1つの準備だけに頼るのではなく、多様な手段を持つことが重要です。</p>
  <p>食糧だけでなく、水や医療用品、防犯グッズなども含めた幅広い備蓄を行う必要があります。</p>
  
  <h2>Rule 2: 長期的な計画</h2>
  <p>災害や緊急事態は突発的なものであることが多いため、長期的な視点で備えることが必要です。</p>
  <p>数週間や数か月にわたって自給自足できるように備蓄することが望ましいです。</p>
  
  <h2>Rule 3: 秘匿する</h2>
  <p>Prepperは、自分が備えている資源や備蓄品を公開しないようにすることが望ましいです。</p>
  <p>災害時には混乱が予想されるため、他人に備蓄品を要求される可能性があるためです。</p>

  <h2>Rule 4: 継続的な更新と管理</h2>
  <p>備蓄品は、使用しない期間が長くなると劣化や賞味期限切れなどの問題が発生することがあります。</p>
  <p>ローリングストックをイメージしながら備蓄をしましょう。</p>
  
  <h2>Rule 5: 常にアンテナを立てておく</h2>
  <p>Prepperは、災害に関する情報を収集し、分析することが重要です。</p>
  <p>自分たちが備えるべきリスクや危機を正しく理解し、備蓄や対策を計画することが理想です。</p>
  
  <h2>Rule 6: コミュニティの重要性</h2>
  <p>Prepperは、単独で備えることができる場合もありますが、コミュニティと協力することでより効果的に備えることができます。</p>
  <p>備蓄品の共有や情報交換などを行うことが望ましいです。</p>
  
</div>