<!--<h1>ここはhomesのtopです</h1>-->

<div class="container">
  <div class="main-image">
    <%= image_tag 'family-bitiku-2' %>
    <div class="main-image-text">
      <p>いつ来るか分からない災厄に備えて</p>
      <p>生き残る備えを</p>
    </div>
  </div>

  <div class="main-image">
    <%= image_tag 'maki-bitiku' %>
    <div class="main-image-text">
      <p>電気が常に使えるとは限らない</p>
      <p>ガソリンの輸入が止まるかもしれない</p>
    </div>
  </div>

</div>

