/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  padding-top : 50px;
  padding-bottom : 50px;
  margin : 60px 10% 60px 10%;
}

header {
  height : 60px;
  border-bottom: 1px solid black;
  background-color: white;
}

footer {
  /*border-top : 1px solid black;*/
  background-color: teal;
  height: 30px;
  width: 100%;
  z-index: 9999;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

h1 {
  text-align : center;
  padding-bottom : 30px;
}

.header-logo {
  font-family: 'Indie Flower', cursive;
}

.welcome-message {
  font-family: 'Kaisei Opti', serif;
}

.header-list {
  font-family: 'Kaisei Opti', serif;
  color: white;
}

.sidebar {
  /*border-right: 1px solid black;*/
  background-color: white;
  /*height: 100%;*/
}

/*topページ*/
.main-image {
  background-color: green;
  height: 300px;
  width: 100%;
  margin-bottom: 200px;
  text-align: center;
  position: relative;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-image-text {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  font-family :Quicksand, sans-serif;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba( 0,0,0,0.5);
  color: white;
  top: 50%;
  left: 50%;
}

/*aboutページ*/
.about-message {
  margin: 0 auto 50px auto;
  max-width: 777px;

}

.about-message h3 {
  margin-bottom: 30px;
}

.about-message div {
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: rgba( 0, 128, 128, 0.1);
}

/*サイドバーUser info*/

.user-info th{
  display: inline-block;
}

.headline {
  font-family: 'IBM Plex Serif', serif;
}